.wrapper {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem 1.4rem;
  z-index: 100;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    hsla(233, 26%, 24%, 0.98),
    hsla(233, 26%, 24%, 0.65),
    hsla(233, 26%, 24%, 0)
  );
  animation: FadeIn 200ms ease-in;
}

.links-wrapper {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--clr-white);
  border-radius: 0.2rem;
  z-index: 100;
  animation: SlideIn 250ms ease;
}

.links-wrapper > * + * {
  margin-top: 1.5rem;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideIn {
  from {
    transform: translateY(-3.125rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 48em /* 768px */) {
  .wrapper {
    display: none;
  }
}
