.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 21.875rem; /* 350px */
  text-align: left;
}

.article h3 {
  transition: color 200ms ease;
}

.article:hover h3 {
  color: var(--clr-primary-green-hover);
}

.img {
  height: 15.625; /* 250px */
  object-fit: cover;
  border-top-left-radius: 0.3rem 0.3rem;
  border-top-right-radius: 0.3rem 0.3rem;
}

.article > * + * {
  margin-top: 1.5rem;
}

.content {
  padding: 0 1.5rem;
}

.content > * + * {
  margin-top: 0.5rem;
}

@media (min-width: 48em /* 768px */) {
  .article {
    max-width: 16.25rem; /* 260px */
  }

  .img {
    height: 12.5rem; /* 200px */
  }

  .content {
    padding: 0 1rem;
  }
}
