.img {
  display: none;
}

@media (min-width: 64em /* 1024px */) {
  .img {
    display: block;
    position: absolute;
    top: -1.5px;
    right: -21.875rem; /* 350px */
    width: 100%;
    height: 100%;
    z-index: 100;
    object-fit: contain;
    clip-path: polygon(0 12%, 100% 12%, 100% 100%, 0 100%);
    user-select: none;
    pointer-events: none;
  }
}

@media (min-width: 75em /* 1200px */) {
  .img {
    right: -25.938rem; /* 415px */
  }
}

@media (min-width: 81.25em /* 1300px */) {
  .img {
    right: -28.125rem; /* 450px */
  }
}

@media (min-width: 84.375em /* 1350px */) {
  .img {
    top: -1.344rem; /* -21.5px */
    right: -28.125rem; /* -450px */
    height: 125%;
  }
}

@media (min-width: 88.75em /* 1420px */) {
  .img {
    right: -32.813rem; /* 525px */
  }
}
/* -26px */
@media (min-width: 93.75em /* 1500px */) {
  .img {
    top: -2rem; /* 32px*/
  }
}
