.btn-reset {
  display: inline-block;
  background-color: transparent;
  border: 0;
}

.btn-reset:hover {
  cursor: pointer;
}

/* Btn */
.btn {
  display: inline-block;
  width: 100%;
  max-width: max-content;
  height: 3rem;
  padding: 0 2.5rem;
  background-image: linear-gradient(to left, var(--clr-primary-cyan), var(--clr-primary-green));
  border-radius: 2rem;
  transition: all 200ms ease;
}

.btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/* Hamburguer btn */
.hamburguer-btn {
  display: grid;
  place-content: center;
  height: 1.5rem;
}

@media (min-width: 48em /* 768px */) {
  .hamburguer-btn {
    display: none;
  }
}
