.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 21.875rem; /* 350px */
}

.card > * + * {
  margin-top: 1rem;
}

.card p {
  text-align: center;
}

@media (min-width: 48em /* 768px */) {
  .card {
    align-items: flex-start;
    max-width: 16.25rem; /* 260px */
  }

  .card > * + * {
    margin-top: 1.5rem;
  }

  .card h3,
  .card p {
    text-align: left;
  }
}
