.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3.5rem 0; /* 56px */
}

.articles > * + * {
  margin-top: 3rem;
}

.info-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-articles > * + * {
  margin-top: 4rem;
}

@media (min-width: 48em /* 768px */) {
  .articles {
    align-items: flex-start;
    padding: 5rem 0; /* 5rem = 80px */
  }

  .info-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .info-articles > * {
    height: 100%;
  }

  .info-articles > * + * {
    margin-top: 0;
  }
}

@media (min-width: 64em /* 1024px */) {
  .info-articles {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
}
